
table
{
 font-size: 20px;
 text-align: center;
 font-family: Arial;

}
.img
{
    width: 70px;
    height: 70px;
}
.fundo
{
    background-image: url(img/campus.jpg);
    background-repeat:repeat;
}

